
#main_container {
	margin: -10px -10px;
	padding: 0;
	width: auto;
}

#total {
	min-width: 0px;
	padding: 0;
	background-color: #bbb;
}

#control {
	background: #fff;
	user-select: none;
	display: flex;
	width: inherit;
	height: 25px;
	justify-content: center;
	border: 1px solid #000;
}

#control span {
	margin: 0;
	min-height: 24px;
	min-width: 0px;
	width: 25px;
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

#control div {
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#time {
	width: auto;
	min-height: 24px;
	margin: 0;
	padding-left: 1px;
	border: 1px solid #000;
}

#time span {
	border: none;
	width: auto;
	min-height: 24px;
	padding: 0 2px 0 0;
}

#progressbar {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

#current {
	border-left: 1px solid #bbb;
}


#volume {
	position: relative;
	display: flex;
}

#volumeValue {
	position: absolute;
	left: -55px;
	top: -75px;
	display: none;
	transform: rotate(270deg);
}

#speedSelect {
	display: none;
	position: absolute;
	margin-top: 0;
}

::-webkit-media-controls {
	display: none !important;
}

#loop {
	font-weight: 100;
	font-size: 1em;
}